// Non-modular or client styles for .l-footer region.

.footer-wrapper {
	background-color: #262323 !important;

	}
.l-footer-columns {
	background-color: #262323;
	padding-bottom: 0 !important;
	.block-content {
		margin-bottom: emCalc(15);
		}
	h2 {
		font-size: emCalc(20);
		color: white;
		text-transform: uppercase;
		display: block;
		clear: both;
		}

	ul{
	  margin: 0;
	  padding: 0;

		li{
			  margin: 0;
			  padding: 0 8px 12px;
			}

		a{
			  padding-left: 10px;
				font-size: 12px;
			  color: $svgreen;
			  text-decoration: none;

			&:hover{
				color: lighten($svgreen, 10%);
				text-decoration: underline;

				}
			}
		}

	}
.bottom-footer-wrapper {
	padding-top: emCalc(10);
	background-color: black !important;
	color: $commonGrey;

.l-footer {}
	.copyright {
		font-size: 10px;
		text-align: center;
		}
	}
#autologout-cache-check {
	display: none;
	}