.section-calendar-node-field-date .messages {
	display: none;
	}
.breadcrumbs {
	border: none;
	background-color: transparent;
	display: none;
	}
.view .date-nav-wrapper {
	.date-prev, .date-next {
		top:37px;
		}
	}

.orbit-container {
	background-color: transparent !important;
	}
.skip-link {
	display: none;
	}
